{{ define "main" }}
<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
               <div class="page-content">

                    {{ with .Params.section2 }}
                    <div class="row-contact bg-light-grey" id="contact-us-form">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="61" data-mobile="60" data-smobile="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="themesflat-headings style-2 clearfix">
                                        <h2 class="heading">{{ .col1.title | upper }}</h2>
                                        <div class="sep has-width w80 accent-bg clearfix"></div>                                               
                                        <p class="sub-heading">{{ .col1.description | markdownify }}</p>
                                    </div>
                                    <div class="themesflat-spacer clearfix" data-desktop="36" data-mobile="35" data-smobile="35"></div>
                                    <div class="themesflat-contact-form style-2 clearfix">
                                        <form id="contactform" action='/thank-you' netlify name="contact-{{$.Lang}}" role="form" method="post" class="form-submit contact-form wpcf7-form">
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder='{{ i18n "name" }}*' required>
                                            </span>
                                            <span class="wpcf7-form-control-wrap your-phone">
                                                <input type="text" tabindex="2" id="company" name="company" value="" class="wpcf7-form-control" placeholder='{{ i18n "company" }}*' required>
                                            </span>
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" tabindex="3" id="zip" name="zip" value="" class="wpcf7-form-control" placeholder='{{ i18n "zip" }}*' required>
                                            </span>
                                            <span class="wpcf7-form-control-wrap your-phone">
                                                <input type="email" tabindex="4" id="email" name="email" value="" class="wpcf7-form-control" placeholder='{{ i18n "email_plain" }}*' required>
                                            </span>
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" tabindex="5" id="phone" name="phone" value="" class="wpcf7-form-control" placeholder="Phone">
                                            </span>                                                       
                                            <span class="wpcf7-form-control-wrap your-subject">
                                                <input type="text" tabindex="6" id="promo" name="promo" value="" class="wpcf7-form-control" placeholder='{{ i18n "promo" }}'>
                                            </span>
                                            <span class="wpcf7-form-control-wrap your-message">
                                               <textarea name="message" tabindex="7" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Message*" required ></textarea>
                                            </span>  

                                            <div class="themesflat-spacer clearfix" data-desktop="10" data-mobile="10" data-smobile="10"></div> 

                                            <span class="wpcf7-form-control-wrap agree_newsletter">
                                                <span class="wpcf7-form-control wpcf7-acceptance">
                                                    <span class="wpcf7-list-item">
                                                        <label>
                                                            <input type="checkbox" name="agree_newsletter" value="" aria-invalid="false">
                                                            <span class="wpcf7-list-item-label">I agree to be registered on the MegaDome<sup>®</sup> Buildings mailing list, and to receive information on products, promotions and services. We are committed to protecting your privacy. You can unsubscribe from the mailing list at any time.</span>
                                                        </label>
                                                    </span>
                                                </span>
                                            </span> 

                                            <div class="themesflat-spacer clearfix" data-desktop="10" data-mobile="10" data-smobile="10"></div>

                                            <span class="wpcf7-form-control-wrap going_ara">
                                                <span class="wpcf7-form-control wpcf7-acceptance">
                                                    <span class="wpcf7-list-item">
                                                        <label>
                                                            <input type="checkbox" name="going_ara" value="" aria-invalid="false">
                                                            <span class="wpcf7-list-item-label">I am going to the ARA Rental show in 2019.</span>
                                                        </label>
                                                    </span>
                                                </span>
                                            </span> 

                                            <div class="themesflat-spacer clearfix" data-desktop="20" data-mobile="10" data-smobile="10"></div> 

                                            <div data-netlify-recaptcha></div> 
                                            
                                            <div class="themesflat-spacer clearfix" data-desktop="10" data-mobile="10" data-smobile="10"></div>

                                            <span class="wrap-submit">
                                                <input type="submit" value='{{ i18n "send_message" }}' class="submit wpcf7-form-control wpcf7-submit" id="submit" name="submit">
                                            </span>                                                            
                                        </form>
                                    </div><!-- /.themesflat-contact-form -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                                    <div class="themesflat-headings style-2 clearfix">
                                        <h2 class="heading">{{ .col2.title | upper }}</h2>
                                        <div class="sep has-width w80 accent-bg clearfix"></div>                                               
                                    </div>
                                    <div class="themesflat-spacer clearfix" data-desktop="36" data-mobile="35" data-smobile="35"></div>
                                    <div class="themesflat-tabs style-1 w168 clearfix">
                                        <ul class="tab-title clearfix">
                                            <!-- {{ range $i, $e := .col2.tabs }}
                                            <li class="item-title {{ if eq $i 0 }}active{{ end }}">
                                                <span class="inner">{{ $e.title }}</span>
                                            </li>
                                            {{ end }} -->
                                            <li class="item-title active">
                                                <span class="inner">{{ .col2.tabtitle }}</span>
                                            </li>
                                        </ul>

                                        <div class="tab-content-wrap clearfix">
                                            <div class="tab-content">
                                                <div class="item-content">                           {{ with $.Site.Data.footer.en }}             
                                                    <ul>
                                                        <li class="clearfix">
                                                            <div class="inner">
                                                                <span class="fa fa-map-marker"></span>
                                                                <span class="text">{{ .address }}</span>
                                                            </div>
                                                        </li>

                                                        <li class="clearfix">
                                                            <div class="inner">
                                                                <span class="fa fa-phone"></span>
                                                                <span class="text">{{ .phone }}</span>
                                                            </div>
                                                        </li>

                                                        <li class="clearfix">
                                                            <div class="inner">
                                                                <span class="fa fa-envelope"></span>
                                                                <a href="mailto:{{ .email }}"><span class="text">{{ .email }}</span></a>
                                                            </div>
                                                        </li>
                                                    </ul>  
                                                    {{ end }}                                                   
                                                </div>
                                            </div><!-- /.tab-content -->
                                        </div>
                                    </div><!-- /.themesflat-tabs -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="78" data-mobile="60" data-smobile="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    {{ end }}

                    {{ with .Params.section1 }}
                    <div class="row-about">
                        <div class="container-fluid">
                            <div class="row equalize sm-equalize-auto">
                                <div class="col-md-6 half-background style-1" style="background-image: url('{{ .image }}'); background-position: 70% center;">
                                    
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="themesflat-spacer clearfix" data-desktop="64" data-mobile="60" data-smobile="60"></div>
                                    <div class="themesflat-content-box clearfix" data-margin="0 25% 0 4.5%" data-mobilemargin="0 0 0 4.5%">
                                        <div class="themesflat-headings style-1 clearfix">
                                            <h2 class="heading akia-contact">{{ .title | upper }}</h2>
                                            <div class="sep has-width w80 accent-bg margin-top-11 clearfix"></div>                                               
                                            <p class="sub-heading margin-top-30">{{ .description1 | markdownify }}</p>
                                        </div>
                                        <div class="themesflat-spacer clearfix" data-desktop="26" data-mobile="35" data-smobile="35"></div>
                                        <div class="content-list">
                                            {{ range .points }}
                                            <div class="themesflat-list has-icon style-1 icon-left clearfix">
                                                <div class="inner">
                                                    <span class="item">
                                                        <span class="icon"><i class="fa fa-check-square"></i></span>
                                                        <span class="text">{{- .text -}}</span>
                                                    </span>
                                                </div>
                                            </div><!-- /.themeslat-list -->
                                            {{ end }}
                                        </div><!-- /.content-list -->
                                        <div class="themesflat-headings style-1 clearfix">                                             
                                            <p class="sub-heading margin-top-30">{{ .description2 | markdownify }}</p>
                                        </div>
                                        <div class="themesflat-spacer clearfix" data-desktop="42" data-mobile="35" data-smobile="35"></div>
                                        <div class="elm-button">
                                            <a href='{{- $.Site.BaseURL -}}'  class="themesflat-button bg-white">{{ .link | upper }}</a>
                                        </div>
                                    </div><!-- /.themesflat-content-box --> 
                                    <div class="themesflat-spacer clearfix" data-desktop="75" data-mobile="60" data-smobile="60"></div>
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    {{ end }}

               </div><!-- /.page-content -->
            </div><!-- /#inner-content -->
        </div><!-- /#site-content -->
    </div><!-- /#content-wrap -->
</div><!-- /#main-content -->

{{ end }}