<!-- Header Wrap -->
<div id="site-header-wrap">
    <!-- Top Bar -->        
    <div id="top-bar">
        <div id="top-bar-inner" class="container">
            <div class="top-bar-inner-wrap">
                <div class="top-bar-content">
                    <div class="inner">
                        <span class="content" ><i class="fas fa-phone" style="padding-right: 10px;"></i>{{ i18n "tagline" }}: <a id="click-book" href="tel:{{ .Site.Data.settings.mphone }}">{{ .Site.Data.settings.phone }}</a></span>
                        <!-- <span class="time content">Mon-Sat: 8am - 6pm</span> -->
                    </div>                            
                </div><!-- /.top-bar-content -->

                <div class="top-bar-socials">
                    <div class="inner">
                        <span class="text"><a href="{{ if .IsHome }}#book-an-appointment{{ else }}{{ .Site.BaseURL }}#book-an-appointment{{ end }}">{{ i18n "book_online" }}</a></span>
                    </div>
                </div><!-- /.top-bar-socials -->
            </div>                    
        </div>
    </div><!-- /#top-bar -->

    <!-- Header -->
    <header id="site-header">
        <div id="site-header-inner" class="container">                    
            <div class="wrap-inner clearfix">
                <div id="site-logo" class="clearfix">
                    <div id="site-log-inner">
                        <a href='{{- $.Site.BaseURL -}}' rel="home" class="main-logo">
                            <img src="/logos/logo-ezkit-couleur-sans.png" alt="EzKit" width="172" height="78" data-retina="/logos/logo-ezkit-couleur-sans-2x.png" data-width="172" data-height="78">
                        </a>
                    </div>
                </div><!-- /#site-logo -->

                <div class="mobile-button">
                    <span></span>
                </div><!-- /.mobile-button -->

                <nav id="main-nav" class="main-nav">
                    <ul id="menu-primary-menu" class="menu">
                        {{ range .Site.Data.menu.main }}
                        <!-- <li class="menu-item current-menu-item"> -->
                        <li class='menu-item {{ with .class }}{{ . }} {{ end }}{{ if and (eq $.Params.layout "contact") (eq .link "contactPage") }}current-menu-item{{ end }}'>
                            <a id="click-menu-{{- .en | urlify -}}" href="{{ if and $.IsHome .homelink }}#{{ .homelink }}{{ else if and (not $.IsHome) .homelink}}{{ $.Site.BaseURL }}#{{ .homelink }}{{ else if .link}}{{ $.Scratch.Get .link }}{{ end }}">
                                {{ if eq $.Lang "fr" }}{{ .fr | upper }}{{ else if eq $.Lang "en" }}{{ .en | upper }}{{ end }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </nav><!-- /#main-nav -->

            </div><!-- /.wrap-inner -->                    
        </div><!-- /#site-header-inner -->
    </header><!-- /#site-header -->
</div><!-- #site-header-wrap -->
