<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
               <div class="page-content">
                    <div class="row-contact bg-light-grey" id="contact-us-form">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 akia-merci">
                                    <div class="themesflat-spacer clearfix" data-desktop="40" data-mobile="60" data-smobile="60"></div>
                                    <h2>Oups! Looks like we couldn't find what you were looking for...</h2>
                                    <h4><h4>Sorry for that! Please go back to our <a href='{{ $.Scratch.Get "homePage" }}'>home page</a>.</h4>
                                    <div class="themesflat-spacer clearfix" data-desktop="20" data-mobile="40" data-smobile="40"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
