<div class="triggering-modal-wrapper">
    <div class="triggering-modal" data-toggle="modal" data-target="#bite-28">
        <p class="modal-heading">Not an equipment rental center?</p>
        <p>Show us your interest by completing the short form<i class="fas fa-arrow-right"></i></p>
        <div class="modal-avatar">
            <img src="/logos/logo-ezkit-blanc-2.png" alt="EzKit">
        </div>
        <div class="close-btn"></div>
    </div>
</div>
<div class="modal fade position-bottom-right m-width-370" id="bite-28" bite-show="slideInUp" bite-hide="slideOutDown">
    <div class="modal-dialog animated fast">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-light" data-dismiss="modal"></button>  
            </div>
            <div class="modal-body">
                <!-- <p class="popup-text mb-4 text-white text-center">Not an equipment rental center?</p> -->
                <p class="popup-text mb-4 text-white text-center">We’ll share your interest with your local equipment rental center and let you know when the product is available.</p>
                <form class="form-question" action='/thank-you' netlify name="popup-{{$.Lang}}" role="form" method="post">
                    <div class="input-group mb-2">
                        <input type="text" name="name" class="form-control rounded border-0 text-light" placeholder='{{ i18n "name" }}' required/>
                    </div>
                    <div class="input-group mb-2">
                        <input type="text" name="zip" class="form-control rounded border-0 text-light" placeholder='{{ i18n "zip" }}' required/>
                    </div>
                    <div class="input-group mb-2">
                        <input type="email" name="email" class="form-control rounded border-0 text-light email-address" placeholder='{{ i18n "email" }}' required/>
                    </div>

                    <div class="input-group mb-2" style="margin-top: 10px;">
                        <span class="modal-checkbox"><input type="checkbox" name="agree_newsletter" value="true" aria-invalid="false">I agree to receive information on products designed by MegaDome<sup>®</sup> Buildings. We will only contact you when the product becomes available. We are committed to protecting your privacy.</span>
                    </div>

                    <button class="btn btn-block text-white" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>